doctype html
html(lang="en-us")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="A collection of gaming resources for the LGBTQ community. A hub of information for gaymers and gayming.")
    title QueersPlayGames
    link(rel="canonical" href="http://queersplaygames.com")
    link(rel="stylesheet" crossorigin="anonynous" integrity="sha256-NqI559iHqiWe5VxDi9mXE8i83ghn8Ru8BINyiPN7lDg=" href="https://cdn.jsdelivr.net/foundation/6.2.4-rc2/foundation.min.css")
    link(rel="stylesheet" href="/style.css")
  body
    != yield
