ul(class="row no-bullet")
  li(class="columns small-10 small-offset-1")
    a(href="https://www.facebook.com/groups/1783375408567861/") Skyrim Gaymers
    p Facebook group for Skyrim gaymers.
  li(class="columns small-10 small-offset-1")
    a(href="https://discord.gg/4S3GBWe") Brotherhood
    p LGBT+ Discord group.
  li(class="columns small-10 small-offset-1")
    a(href="https://www.youtube.com/channel/UCpWbCUJsBvZwE2a9mM5r_1g") Press A to Gay
    p LGBT Let's Players on YouTube.
  li(class="columns small-10 small-offset-1")
    a(href="http://discuss.gayguilds.com/") GayGuilds
    p LGBY gaymer and gay guild discussion forum.
  li(class="columns small-10 small-offset-1")
    a(href="https://www.twitch.tv/nikatinestream") Nikatine
    p Trans woman Twitch streamer who mostly plays FPS titles.
  li(class="columns small-10 small-offset-1")
    a(href="http://queercraft.net/") Queercraft
    p An inclusive gaming community for LGBTQ gamers and their allies. Games include Minecraft, TeamFortress 2, Cards Against Humanity, and Town of Salem.
  li(class="columns small-10 small-offset-1")
    a(href="http://queerlyrepresent.me/") Queerly Represent Me
    p A database for games that represent sexuality, gender, and relationships in positive ways.
  li(class="columns small-10 small-offset-1")
    a(href="http://transcord.net/") Transcord
    p Large Discord community for transgender and nonbinary folx as well as allies.
  li(class="columns small-10 small-offset-1")
    a(href="http://killerwalrus.xyz/") Killer Walrus Gaming
    p Queer-focused DayZ Overpoch PVE server.
  li(class="columns small-10 small-offset-1")
    a(href="https://www.youtube.com/user/TyePlays") Tye Plays
    p Let's Play gaymer on YouTube.
  li(class="columns small-10 small-offset-1")
    a(href="https://discord.gg/UmE3TN9") Transmission Gaming
    p Transmission Gaming is an online gaming community comprised solely of trans-identified people. We play competitively and casually in a number of games, such as Overwatch and CS:GO.
  li(class="columns small-10 small-offset-1")
    a(href="https://discord.gg/uGT7eJD") Gaydayz
    p LGBT community on Discord.
  li(class="columns small-10 small-offset-1")
    a(href="http://differentgames.org/") Different Games Collective
    p Community resources and events/conferences to support marginalized voices in DIY and independent games.
  li(class="columns small-10 small-offset-1")
    a(href="http://www.thescarletacademy.com/") The Scarlet Academy
    p Extensive gaymer community with a presence on Discord  and Steam as well as games like League of Legends, Guild Wars 2, and Minecraft.
  li(class="columns small-10 small-offset-1")
    a(href="http://gaymerscommunity.enjin.com/") Gaymers United
    p LGBT+ Enjin community with a presence on Discord, Curse, Twitch, YouTube, and Facebook.
  li(class="columns small-10 small-offset-1")
    a(href="https://www.youtube.com/channel/UC4AlrX-c73qpdjI3Db8E5Zg") GaymersTV
    p Gaymer webseries.
  li(class="columns small-10 small-offset-1")
    a(href="https://www.twitch.tv/altistick") Altistick
    p French streamer on Twitch.
  li(class="columns small-10 small-offset-1")
    a(href="https://robertsspaceindustries.com/orgs/VELVAN") Velvet Vanguard
    p LGBTQA Star Citizen organization.
  li(class="columns small-10 small-offset-1")
    a(href="https://www.twitch.tv/gaymerguy92") Gaymerguy92
    p FPS/Action/Adventure streamer on Twitch.
  li(class="columns small-10 small-offset-1")
    a(href="https://www.facebook.com/groups/gaymersofdestiny") Gaymers of Destiny
    p PS4/XB1 Destiny gaymer clan on Facebook.
  li(class="columns small-10 small-offset-1")
    a(href="http://astroville.org/") AstroVille
    p Gaymer-centric Minecraft server and community.
  li(class="columns small-10 small-offset-1")
    a(href="http://www.pridedivision.enjin.com/") Pride Division
    p LGBT multi-gaming clan/community on Enjin.
  li(class="columns small-10 small-offset-1")
    a(href="https://steamcommunity.com/groups/lgbtcommunity") LGBT
    p Steam group for LGBT gamers.
  li(class="columns small-10 small-offset-1")
    a(href="https://steamcommunity.com/groups/gaymeer") Gaymer
    p Gaymer group on Steam and Discord.
  li(class="columns small-10 small-offset-1")
    a(href="http://magimat.enjin.com/") Magicite 2 Materia
    p FFXIV guild on Enjin.
  li(class="columns small-10 small-offset-1")
    a(href="http://discord.me/Chromatic") Chromatic
    p Discord-based Black Desert guild.
  li(class="columns small-10 small-offset-1")
    a(href="http://altf4.online/") ALT + F4
    p Black Desert LGBT+ guild.
  li(class="columns small-10 small-offset-1")
    a(href="http://abandofcolours.enjin.com/") A Band of Colours
    p Enjin/Facebook LGBTQ community.
  li(class="columns small-10 small-offset-1")
    a(href="http://pressxy.com/") Press XY
    p Organization that runs panels at PAX events concerning transgender issues in video gaming.
  li(class="columns small-10 small-offset-1")
    a(href="http://pinkfae.com/") PinkFae
    p Blog whose mission is to provide gaming news of interest to transgender gamers, interviews of transgender game developers, weekly reviews of games, and gaming tournaments that are transgender inclusive.
  li(class="columns small-10 small-offset-1")
    a(href="https://steamcommunity.com/groups/lgbtcurator") LGBT+ Games
    p Steam group for curating games with LGBT+ themes.
  li(class="columns small-10 small-offset-1")
    a(href="https://www.halowaypoint.com/en-us/spartan-companies/gaymer%20spartans") Gaymer Spartans
    p Community for gaymers who play Halo.
  li(class="columns small-10 small-offset-1")
    a(href="https://www.youtube.com/user/roomsfullofglitter/") Kaitlyn Nissen
    p YouTube channel highlighting LGBTQ and minority gamers.
  li(class="columns small-10 small-offset-1")
    a(href="http://www.twitch.tv/huckpcat") HuckPCat
    p Twitch streamer.
  li(class="columns small-10 small-offset-1")
    a(href="http://www.twitch.tv/adamkoebel") Adam Koebel
    p Twitch streamer with YouTube presence, co-designer of Dungeon World.
  li(class="columns small-10 small-offset-1")
    a(href="http://lgbt.enjin.com/") Our Sanctuary
    p Enjin/Facebook Guild Wars 2 guild.
  li(class="columns small-10 small-offset-1")
    a(href="http://rtgc.enjin.com/") Rough Trade Gaming Community
    p Enjin community with a presence across multiple games.
  li(class="columns small-10 small-offset-1")
    a(href="https://www.facebook.com/groups/GWLQDA/") Lo Que Diga Abaddon
    p Clan de Guild Wars 2 de reunión de gays y del resto de la comunidad LGBT+.
  li(class="columns small-10 small-offset-1")
    a(href="http://www.gaymer.es/") Gaymer.es
    p La principal comunidad de videojugadores LGBT+ de habla hispana.
  li(class="columns small-10 small-offset-1")
    a(href="http://stonewallvanguard.com/") Stonewall Vanguard
    p LGBT+ guild with branches in many games, including Guild Wars 2 and Star Trek Online.
  li(class="columns small-10 small-offset-1")
    a(href="http://join.arcuspride.com/") Arcus Pride
    p Guild Wars 2 LGBT+ guild.
  li(class="columns small-10 small-offset-1")
    a(href="https://www.reddit.com/r/guildwars2gaymers") /r/GuildWars2Gaymers
    p LGBT focused Guild Wars 2 subreddit.
  li(class="columns small-10 small-offset-1")
    a(href="http://www.twitch.tv/sweet_hart8") Sweet_Hart8
    p LGBT streamer on Twitch.
  li(class="columns small-10 small-offset-1")
    a(href="http://www.twitch.tv/seriouslyclara") SeriouslyClara
    p LGBT streamer on Twitch.
  li(class="columns small-10 small-offset-1")
    a(href="http://www.twitch.tv/lainzero") LainZero
    p LGBT streamer and CrunchyRoll staffer.
  li(class="columns small-10 small-offset-1")
    a(href="https://www.reddit.com/r/LesbianGamers") /r/LesbianGamers
    p Gaming community for queer women with private Steam group.
  li(class="columns small-10 small-offset-1")
    a(href="http://mogiicraft.proboards.com/") MogiiCraft
    p Survival server with plugins for LGBT+ gamers, serving as a safe place to have fun and build within a community.

  li(class="columns small-10 small-offset-1")
    a(href="http://tranquilitytor.swtornow.com/home") Tranquility
    p LGBTQ guild for mature gamers operating in Star Wars: The Old Republic.

  li(class="columns small-10 small-offset-1")
    a(href="http://crimsonrain.org/wiki/index.php?title=Main_Page") Crimson Rain
    p Old World of Darkness, Vampire The Masquerade Chronicle set in the modern day City of Montreal.

  li(class="columns small-10 small-offset-1")
    a(href="http://gaymism.com/") Gaymebar
    p "Sassy" game commentary podcast.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.facebook.com/groups/622123257889671/") Gold Fruit Gaming
    p Facebook group for gaymers with a focus on PvP games.

  li(class="columns small-10 small-offset-1")
    a(href="https://steamcommunity.com/groups/GayLesbitrans") GayLesbitran
    p Safe place for LGBT gamers.

  li(class="columns small-10 small-offset-1")
    a(href="https://steamcommunity.com/groups/gaygamer") GayGamer
    p Steam gay gamer community.

  li(class="columns small-10 small-offset-1")
    a(href="https://steamcommunity.com/groups/gaymingcommunity") Gayming Community
    p Steam LGBT community.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.facebook.com/groups/BearFacedGaymerBears/") Bearfaced GaymerBears
    p Facebook gaymer community.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.youtube.com/channel/UCQEI5fdkEoXU-ZGNqSLNX2w/") Keebler Plays
    p YouTube LetsPLay-er.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.twitch.tv/marshmeloo/") Marshmeloo
    p DnD GM and developer with a Twitch channel.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.twitch.tv/aulem_gaming") AuLem_Gaming
    p Streamer with a presence on both Twitch and Youtube.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.facebook.com/groups/gencongaymers/") Gen Con Gaymers
    p LGBT gamer group associated with Gen Con.

  li(class="columns small-10 small-offset-1")
    a(href="https://en.wikipedia.org/wiki/LGBT_characters_in_video_games") LGBT characters in video games
    p Wikipedia article on the history of LGBT characters in video games.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.facebook.com/groups/NGandA/") Nintendo Gaymers & Amiibros
    p Nintendo-based gay gamer group on Facebook.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.reddit.com/r/Boardgaymers") /r/Boardgaymers
    p Subreddit for board game playing gaymers.

  li(class="columns small-10 small-offset-1")
    a(href="https://boingboing.net/2015/09/07/the-queer-masculinity-of-steal.html") The queer masculinity of stealth games
    p BoingBoing article on masculinity, games, and the politics of men's bodies.

  li(class="columns small-10 small-offset-1")
    a(href="https://steamcommunity.com/groups/LGBTFriends") Let's Be Gaymers Together
    p Steam group for LGBT friends and allies.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.facebook.com/groups/gaymer/") Gaymer
    p Facebook gaymer group.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.reddit.com/r/gaymersstream") /r/Gaymersstream
    p Subreddit for gaymer streamers.

  li(class="columns small-10 small-offset-1")
    a(href="https://steamcommunity.com/groups/GaymersDota2") Gaymers DOTA 2
    p DOTA 2 gaymer Steam community.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.twitch.tv/evanevy") Evanevy
    p Streamer out of Lisbon on Twitch.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.youtube.com/channel/UCuNkCQV-BAna8pv4Hm6eLyA/") Artful Dodge
    p Let's Play gaymer on YouTube.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.gaymeonpodcast.com") Gayme On Podcast
    p Podcast that discusses gaming and other geek culture topics from a queer perspective.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.twitch.tv/twedesmith") Twede and Smith
    p Streamer duo with a focus on retro games.

  li(class="columns small-10 small-offset-1")
    a(href="https://soundcloud.com/the-gaymers-podcast") The Gaymers Podcast
    p Discussing video games, gay culture, movies, comics, board games, drag queens, geek culture and more.

  li(class="columns small-10 small-offset-1")
    a(href="http://antonynintendolovefest.podbean.com/") Nintendo Lovefest
    p An LGBT podcast about gaming in general, and Nintendo specifically, with a critical eye and voice.

  li(class="columns small-10 small-offset-1")
    a(href="http://wesschneider.tumblr.com/post/93277599246/50-lgbtq-characters-in-the-pathfinder-rpg") 50 LGBTQ Characters in the Pathfinder RPG
    p Blog article from the editor-in-chief at Paizo on diverse sexuality in Pathfinder.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.twitch.tv/8bithomo") 8-bit Homo
    p Livestream gaymer.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.goodreads.com/group/show/168774-gaymers") Gaymers group
    p A Goodreads group for gaymers.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.facebook.com/groups/ARKStonewallSurvivors/") ARK Stonewall Survivors
    p LGBTQA friendly PVE private server for ARK Survival Evolved created to give members of the LGBT community and their allies a safe and fun place to build an in game community while running from giant dinosaurs.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.reddit.com/r/DestinyGaymers") /r/DestinyGaymers
    p Subreddit for Destiny gaymers.

  li(class="columns small-10 small-offset-1")
    a(href="http://qoopaklub.com/") Qoopa Klub
    p  Nintendo/gaymer podcast with Twitch and YouTube channels.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.videogamerealness.com/") Video Game Realness
    p Multi-headed podcast (on tumblr, youtube, twitch).

  li(class="columns small-10 small-offset-1")
    a(href="https://www.reddit.com/r/terrariagaymers/") /r/terrariagaymers
    p Subreddit for Terraria gaymers.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.reddit.com/r/LGBTFC") /r/LGBTFC
    p LGBT+ gaming community with branches across many platforms, including Steam.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.twitch.tv/thegaydude420") Thegaydude420
    p Canadian streamer.

  li(class="columns small-10 small-offset-1")
    a(href="http://checkpointgaming.net/") Checkpoint
    p Industry/game podcast/radio show for gaymers by gaymers.

  li(class="columns small-10 small-offset-1")
    a(href="http://analoggamestudies.org/2015/07/out-of-the-dungeons-representations-of-queer-sexuality-in-rpg-source-books/") Out of the Dungeons: Representations of Queer Sexuality in RPG Source Books
    p Examinations of queer sexuality in tabletop RPGs.

  li(class="columns small-10 small-offset-1")
    a( href="https://daggr.net") Daggr
    p Gaymer social network.

  li(class="columns small-10 small-offset-1")
    a(href="https://gaygeeks.net/") #GayGeeks of Freenode
    p Community based around the #GayGeeks IRC channel(s) on Freenode; includes a 7 Days to Die, Starbound, and Minecraft server.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.qgcon.com/") QGCon
    p The Queerness and Games Conference (QGCon) is an annual, community-oriented, nationally-recognized event dedicated to exploring the intersection of LGBTQ issues and video games.

  li(class="columns small-10 small-offset-1")
    a(href="https://datenighto.com/") Date Nighto
    p Japanese-style visual novels for Western audiences with gay content.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.razzartvisual.com/starlightvega/") Starlight Vega
    p A fantasy comedy visual novel with "GirlxGirl romances", recently kickstarted and coming to Steam.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.reddit.com/r/lgbtgamedev") /r/LGBTGameDev
    p Community for LGBTQ game developers and topics concerning both LGBTQ issues and game development.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.youtube.com/user/RitzPlays") Ritz
    p Full-time Let's Play gaymer.

  li(class="columns small-10 small-offset-1")
    a(href="http://gamejolt.com/games/spotney/57990") Spotney
    p A point-and-click adventure about the last three days of a bouncer at a post-apocalyptic gay bar.

  li(class="columns small-10 small-offset-1")
    a( href="http://readonlymemori.es/") Read Only Memories
    p Cyberpunk point-and-click adventure all about exploration, puzzle solving, and diving into the world of Neo San Francisco.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.the-arcade.ie/2015/04/i-now-pronounce-you-geek-culture-and-the-right-to-marriage/") 'I Now Pronounce You…' – Geek Culture And The Right To Marriage
    p Overview of gay marriage in pop culture, including games.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.reddit.com/r/GaymerCraft/") /rGaymerCraft
    p Gaymer MineCraft community with occompanying server.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.youtube.com/user/TheRPGMinx") Minx
    p MangaMinx/RPGMinx/Minx is a Let's Play gaymer who primarily focuses on indie, horror, and multiplayer games. (Including the occaisonal game with queer content.)

  li(class="columns small-10 small-offset-1")
    a(href="http://borderhouseblog.com/") the border house
    p A gamer blog for those who are feminist, queer, disabled, people of color, transgender, poor, gay, lesbian, and others who belong to marginalized groups, as well as allies.

  li(class="columns small-10 small-offset-1")
    a( href="http://www.mammonmachine.com/") Mammon Machine
    p Site of Aevee Bee, queer writer/teacher/speaker, who writes about games.

  li(class="columns small-10 small-offset-1")
    a(href="http://samanthaleighallen.com/") Samantha Allen
    p Columnist who writes about gender, sexuality, technology, and more.

  li(class="columns small-10 small-offset-1")
    a(href="http://kotaku.com/video-games-didnt-make-me-gay-but-they-did-make-me-pro-1599346458") Video Games Didn't Make Me Gay, But They Did Make Me Proud
    p Kotaku article examining how the gaming industry was and has been examining (gay) sexuality in-game.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.um.com.au/spaceout/") My Ex-Boyfriend the Space Tyrant
    p A gay-themed point-and-click adventure game.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.havencontx.com/") HavenCon
    p Gay geek/gaming convention out of Texas.

  li(class="columns small-10 small-offset-1")
    a(href="http://geeksout.org/") Geeks OUT!
    p Gay geek blog.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.tabletopgaymers.org/") Tabletop Gaymers
    p Resource for gaymers who enjoy tabletop games.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.lgbtgamers.com/") LGBTGamers
    p Network for LGBT gamers playing together, with Steam group.

  li(class="columns small-10 small-offset-1")
    a(href="http://ariellegrimes.itch.io/brokenfolx") Brokenfolx
    p A small indie game about the lived experiences of individuals who are queer.

  li(class="columns small-10 small-offset-1")
    a(href="http://www.mattiebrice.com/mainichi/") Mainichi
    p An autobiographical game about day-to-day life as a queer, multiracial woman.

  li(class="columns small-10 small-offset-1")
    a(href="http://gaymerx.com/") GaymerX
    p A LGBT-oriented gaming and geek culture convention, with panels primarily focused on LGBT issues and debates in the gaming industry.

  li(class="columns small-10 small-offset-1")
    a(href="http://gaygamer.net/") GayGamer.net
    p Gay gaming news blog.

  li(class="columns small-10 small-offset-1")
    a(href="http://caniplaygay.tumblr.com/") Can I Play Gay?
    p A listing for games that allow you to play gay characters.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.reddit.com/r/gaymers") /r/Gaymers
    p A community for LGBT and straight alliance redditors with accompanying Steam group.

  li(class="columns small-10 small-offset-1")
    a(href="http://steamcommunity.com/groups/gaymer") Gayming Community
    p International LGBT gaming community on Steam (with an accompanying Facebook group).

  li(class="columns small-10 small-offset-1")
    a(href="https://www.reddit.com/r/tabletopgaymers/") /r/TabletopGaymers
    p A community for LGBT redditors who enjoy board, card, pen and paper, tactical, or other physical table-top games.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.reddit.com/r/gaymenight/") /r/GaymeNight
    p A community for LGBT people to come together and discuss pen and paper tabletop RPGs.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.reddit.com/r/gayming/") /r/Gayming
    p A place for discussion and news focusing on gay themes in games, as well as gaming culture.

  li(class="columns small-10 small-offset-1")
    a(href="https://www.reddit.com/r/transgamers") /r/TransGamers
    p A place for transgender gamers to talk about their hobby among others who understand them.

  li(class="columns small-10 small-offset-1 end")
    a(href="http://gamingincolor.vhx.tv/") Gaming in Color
    p Full length documentary exploring the gay gamer culture.
