---
layout: default
---

<main>

  <ul class="grid-container fluid no-bullet">
  {% for post in site.posts %}
    <li class="grid-x grid-margin-x">
      <div class="h4 cell small-12 medium-6 title">
        <a href="{{ post.link }}">{{ post.title }}</a>

        <div class="cell small-12 medium-6">
            {% for category in post.categories %}
            <small> {{ category }} </small>
            {% endfor %}
        </div>

        <div class="cell small-12 medium-6">
            {% for tag in post.tags %}
            <small> {{ tag }} </small>
            {% endfor %}
        </div>

      </div>
      <div class="cell small-12 medium-6 content">{{ post.content }}</div>

    </li>
  {% endfor %}
  </ul>

</main>
